---
// src/pages/blog/[slug].astro
import Layout from "../../layouts/Layout.astro";
import { getCollection, render } from "astro:content";

export async function getStaticPaths() {
  const blogEntries = await getCollection("blog");
  return blogEntries.map((entry) => ({
    params: { slug: entry.id },
    props: { entry },
  }));
}

const { entry } = Astro.props;
const { Content } = await render(entry);
---

<Layout title={entry.data.title}>
  <article>
    <a href="/" class="back-link">
      <svg
        style="width: 16px; height: 16px; vertical-align: middle; margin-right: 5px;"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
      >
        <line x1="19" y1="12" x2="5" y2="12"></line>
        <polyline points="12 19 5 12 12 5"></polyline>
      </svg>
      Volver al inicio
    </a>

    <h1>{entry.data.title}</h1>
    
    <p class="fecha">
      {
        entry.data.date.toLocaleDateString("es-ES", {
          year: "numeric",
          month: "long",
          day: "numeric",
        })
      }
    </p>

    <div class="tag-container" style="margin-top: 12px;">
      {entry.data.tags.map((tag) => <a href={`/tags/${tag}`} class="tag">#{tag}</a>)}
    </div>

    <hr />

    <div class="markdown-content">
      <Content />
    </div>
  </article>
   <a href="/" class="back-link">
      <svg
        style="width: 16px; height: 16px; vertical-align: middle; margin-right: 5px;"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
      >
        <line x1="19" y1="12" x2="5" y2="12"></line>
        <polyline points="12 19 5 12 12 5"></polyline>
      </svg>
      Volver al principio
    </a>
</Layout>
 