#container {
    display: flex;
    justify-content: space-evenly;
    height: 100vh;
}

.card img {
    width: 150px;
}

#danger {
    padding: 20px;
    color: red;
}


@media screen and (max-width:550px) {
    #container {
        display: flex;
        flex-direction: column;
        height: 100%;
        margin:20px;
    }

    ol {
        width: 100%;
        text-align: center;
        margin: 0 auto;
        align-content: center;
        align-items: last baseline;
        align-self: center;
        display: flex;
        flex-direction: column;
    }
}