---
// src/pages/index.astro
import Layout from "../layouts/Layout.astro";
---

<Layout title="Redirecting...">
  <head slot="head">
    <meta http-equiv="refresh" content="0;url=/en/" />
  </head>
  
  <div style="display: flex; justify-content: center; align-items: center; height: 50vh;">
    <p>Loading... <a href="/en/">Click here</a> si no redirige.</p>
  </div>
</Layout>

<script is:inline>
  // Si el JS del usuario dice que habla español o japonés, lo mandamos rápido antes de que actúe el meta de arriba
  const userLang = navigator.language || navigator.userLanguage;
  if (userLang.startsWith('es')) {
    window.location.pathname = '/es/';
  } else if (userLang.startsWith('ja')) {
    window.location.pathname = '/ja/';
  } else {
    window.location.pathname = '/en/';
  }
</script>